<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" media="all">
        <meta charset="utf-8">
        <title>Music Collection</title>
    </head>
    <body>
        <div id="header">
            <h1>My Music Collection</h1>
        </div>
        <div id="wrapper">
                <div id="noResults">
                    <h3>Add a CD</h3>
                    <form action="/add" method="post">
                        <div class="form-group">

                        </div>
                        <button type="submit" >Add CD</button>
                    </form>
                </div>
        </div>
    </body>
</html>
